$bgcolor : #5a2d82;

header{
    background: $bgcolor;
    // background: #1876f2;
    // padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 4rem;

    & .brand h1{
        color: #fff;
        
            font-size: 1.3rem;
        
    }

    & .cart-qty{
        color: #000;
        font-size: .7rem;
        padding: 0px 4px;
        background-color: #FFA500;
        border-radius: 50%;
        // font-weight: bold;
    }
}